<html>
<head>
</head>
<body>
<div>
  <%= form_tag("students#create") do  %>

      <div style="float:left;">
        <%= label_tag :id %>
      </div>
      <div>
        <%= text_field_tag :id %>
      </div>

      <div style="float:left;">
        <%= label_tag :name %>
      </div>
      <div>
        <%= text_field_tag :name %>
      </div>

      <div style="float:left;">
        <%= label_tag :subject1 %>
      </div>
      <div>
        <%= text_field_tag :subject1%>
      </div>

      <div style="float:left;">
        <%= label_tag :subject2 %>
      </div>
      <div>
        <%= text_field_tag :subject2%>
      </div>

      <div style="float:left;">
        <%= label_tag :subject3 %>
      </div>

      <div>
        <%= text_field_tag :subject3%>
      </div>

      <div>
        <%= submit_tag "Register"%>
      </div>
  <% end %>
</div>
</body>
</html>