<div class="row">
  <div class="span6 offset3" style="margin-top:60px" >
    <%= form_for(@user, :url =>   update_user_user_path(@user), :method => "PUT") do |f| %>
        <%= render 'users/error', :object => f.object %>
        <div style="margin-left: 320px" >
          <%= f.label :name %>
        </div>
        <div style="margin-left: 320px" >
          <%= f.text_field :name %>
        </div>

        <div style="margin-left: 320px" >
          <%= f.label :email %>
        </div>
        <div style="margin-left: 320px" >
          <%= f.text_field :email %>
        </div>

        <div style="margin-left: 320px" >
          <%= f.label :password %>
        </div>
        <div style="margin-left: 320px" >
          <%= f.password_field :password %>
        </div>

        <div style="margin-left: 320px" >
          <%= f.label :password_confirmation, "Confirm Password" %>
        </div>
        <div style="margin-left: 320px" >
          <%= f.password_field :password_confirmation %>
        </div>
        
        <div style="margin-left: 375px" >
          <%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>
    <% end %>
    </div>
  </div>
</div>